{% load static %}
<!DOCTYPE html>
<html>
    |<!-- <base href="/appliweb/" target="_blank"> -->
<title>Airplanes accidents analysis</title>
<style>

</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>


<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:3">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">{{title}}</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome from, <strong>Dream Team</strong></span><br>
      <a href="https://github.com/elvinaeury/Projet_SBD" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Page d'accueil</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="/appliweb/aeroport/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Airports</a>
    <a href="/appliweb/tableaccidents/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> Parcourir la table Accidents</a>
    <a href="/appliweb/worldmap/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Map</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


<!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> AIRCRAFT ACCIDENTS HISTORICAL DATA FROM {{ earliest_}} TO March 2020.</b></h5>
  </header>


  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-center">
          <h4> Number of Casualties </h4>
        </div>
        <div class="w3-clear">  </div>
        <div class="w3-center">{{ nb1 }}</div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-center">
          <h4>Most accidented weekday</h4>
        </div>
        <div class="w3-clear"></div>
        <div class="w3-center">{{ days }}</div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-center">
          <h5>Country with most fatal accident</h5>
        </div>
        <div class="w3-clear"></div>
        <div class="w3-center">{{ worst_country }}</div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-center">
          <h5>Date of most fatal accident</h5>
        </div>
        <div class="w3-clear"></div>
        <div class="w3-center">{{ worst_date }}</div>
    
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5></h5>
        {% load static %}
        <img src="{% static 'airplane4.jpg' %}" alt="avion" width="1350" height="800"/>
      </div>
      <div class="w3-twothird">
      
        <h4 style="color:white;">Additional Info </h4>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Types of aircrafts most used</td>
            <td><i>{{ types_air }}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Most common engines</td>
            <td><i>{{ types_engs }}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Aircraft with most fatalities</td>
            <td><i>{{ worst_aircraft}}</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Flight Info</h5>
    <p>Commercial planes </p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:{{perc_pass|floatformat:'0'}}%">{{ perc_pass}}%</div>
    </div>

    <p>Military planes</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:{{perc_military|floatformat:'0'}}%">{{ perc_military}}%</div>
    </div>

    <p>Cargo and Ferry planes</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:{{perc_cargo|floatformat:'0'}}%">{{ perc_cargo}}%</div>
    </div>

    <p>Test and Research planes</p>
   
    <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-blue" style="width:{{perc_test|floatformat:'0'}}%">{{ perc_test}}%</div>
    </div>

  </div>
  <hr>

  <div class="w3-container">
    <h5>Highest percentages of accidents per country</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Number of accidents</th>
      <th>Percentages of accidents</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{country1 }}</th>
      <td>{{number1 }}</td>
      <td>{{percent1 }}</td>
    </tr>
    <tr>
      <th>{{country2 }}</th>
      <td>{{number2 }}</td>
      <td>{{percent2 }}</td>
    </tr>
    <tr>
      <th>{{country3 }}</th>
      <td>{{number3 }}</td>
      <td>{{percent3 }}</td>
    </tr>
    <tr>
      <th>{{country4 }}</th>
      <td>{{number4 }}</td>
      <td>{{percent4 }}</td>
    </tr>
    <tr>
      <th>{{ country5}}</th>
      <td>{{ number5 }}</td>
      <td>{{ percent5 }}</td>
    </tr>
  </tbody>
</table>

<head>
 

<!-- Showing and hiding image-->
<script type="text/javascript">
function show_image()
{
    document.getElementById("myImg").style.display="block";  
}
function hideElem() {
  document.getElementById("myImg").style.display = "none"; 
}
</script>

<input type="button" value= "Show More" name="Show More" id="show" onclick="show_image()" />
<input type="button" value= "Show Less" name="Show less" id="hide" onclick="hideElem()" />


<div id="myImg" style="display:none">
<img id="myImg" src="{% static 'top50_accidents.png' %}" width="1000" height="500" >
</div>








  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <p><a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>

