<!-- fichier pages.tmpl --> 
<html>
<head> 
  <title>La liste des aéroports</title>
  <style>   
    table.mon_tableau  {
        border-collapse: collapse;
    }
    table.mon_tableau td {
       border: 1px solid #5555;
       padding: 0.3em;
       font-family: "Sans-serif";
       font-size: 12px;
    }
    table.mon_tableau tr:nth-child(even)  {background: #EEE}
    table.mon_tableau tr:nth-child(odd) {background: #FFF}
  </style>
</head>

<body> 
<h1>Aeroports</h1>
{% if rien %}
  Aucun aeroports
{% else %}
  <table class="mon_tableau">
  <p>{{ nb }} pages consultées</p>
  {% for p in pages %}
    <tr>
      <td>{{ p.id }} </td>
      <td>{{ p.code_iata }} </td>
    </tr>
   {% endfor %}
  </table>
{% endif %}
</body>
</html>